@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
}

.radio-container {
  @apply flex flex-col items-start mr-6 mb-4;
}

.radio-image {
  @apply w-[160px] h-[122px] rounded-xl border-2 border-transparent cursor-pointer;
}

.radio-container input[type="radio"]:checked + .radio-image {
  @apply border-blue-600;
}

.radio-label {
  @apply text-gray-600 font-bold text-sm;
}
